body {
  padding-top: 4.5rem;
}

// alerts
.alert-custom-success {
  @include gradient-x(#59C59E, #35BF7F, 0%, 100%);
}

.alert-custom-info {
  @include gradient-x(#8070FF, #503AF2, 0%, 100%);
}

.alert-custom-warning {
  @include gradient-x(#EDC868, #E49358, 0%, 100%);
}

.alert-custom-danger {
  @include gradient-x(#F17C7C, #E35656, 0%, 100%);
}

@each $color,
$value in $theme-colors {
  .alert-custom-#{$color} {
    @include alert-variant(transparent, transparent, #f4fdff);
    display: flex;
    align-items: center;
    border-radius: 6px;
    a {
      text-decoration: underline;
    }
  }
}

// Navbar
.navbar-nav {
  li {
    height: 70px;
    text-align: center;
    min-width: 90px;
  }
  li.active {
    border-bottom: 4px solid $red;
    background: lighten($primary, 10%)
  }
}

// card additions
.card-header {
  .options {
    position: absolute;
    right: 20px;
    .icon {
      height: 30px;
      width: 30px;
    }
  }
}

// Breadcrumbs 
.breadcrumb-item {
  &.active {
    background-color: $breadcrumb-active-bg-color;
    margin-left: 2em;
    padding: 0.25em 1.5em;
    border-radius: 1em;
    &::before {
      display: inline-block; // Suppress underlining of the separator in modern browsers
      padding-right: 0;
      content: '';
    }
  }
}