@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

@mixin text-style {
    font-style: normal;
    font-weight: normal;
    font-family: 'Source Sans Pro';
    color: $white;
    font-size: 16px;
}

h1 {
    @include text-style();
    line-height: 51px;
    font-size: 2.5em;
}

h2 {
    @include text-style();
    line-height: 36px;
    font-size: 1.75em;
}

h3 {
    @include text-style();
    line-height: 31px;
    font-size: 1.5em;
}

h4 {
    @include text-style();
    line-height: 32px;
    font-size: 1.25em;
}

h5 {
    @include text-style();
    line-height: 27px;
    font-size: 1.125em;
}

h6 {
    @include text-style();
    line-height: 19px;
    font-size: 0.875em;
}

// normal text

.text-xsmall {
    @include text-style();
    font-size: 0.75em;
    
}

.text-small {
    @include text-style();
    font-size: 0.8125em;
}

.text-medium {
    @include text-style();
    font-size: 0.875em;
}

.text-large {
    @include text-style();
    font-size: 1em;
}

// semibold text

.text-xsmall-semibold {
    @extend .text-xsmall ;
    font-weight: 600;
}

.text-small-semibold {
    @extend .text-small ;
    font-weight: 600;
}

.text-medium-semibold {
    @extend .text-medium ;
    font-weight: 600;
}

.text-large-semibold {
    @extend .text-large ;
    font-weight: 600;
}
