// sizes
$btn-width: 152px;
$btn-large: 35px;

$hover-pallete: ('danger': $red-hover,
'info': $purple-hover,
'success': $green-hover,
'warning': $yellow-hover,
'primary': $darkblue-hover,
'secondary': $brightblue-hover,
'coral': $coral-hover);

@each $color,
$value in $hover-pallete {
  .btn-#{$color}:hover {
    background: $value;
  }
}

$active-pallete: ('danger': $red-active,
'info': $purple-active,
'success': $green-active,
'warning': $yellow-active,
'primary': $darkblue-100,
'secondary': $brightblue-100,
'coral': $coral-active);

@each $color,
$value in $active-pallete {

  .btn-#{$color}:focus,
  .btn-#{$color}:active {
    background: $value;
  }
}

.btn-large {
  height: $btn-large;
  width: $btn-width;
  font-size: 16px;
}

.btn {
  border: none;
}

.btn-txt {
  vertical-align: text-top;
  text-align: center;
  line-height: 19px;
}

.icon {
  width: 11px;
  float: left;
  height: 100%;
}

.btn.plus-icon {
  background-image: url("css/imgs/general/plus-icon.svg");
  background-repeat: no-repeat;
  background-position-x: 0.75em;
  background-position-y: 20%;
}