// Colors 
$darkblue: #20293B;
$brightblue: #7C89A6;
$purple: #5E49FD;
$coral: #F68797;
$green: #34BE7E;
$red: #EA6969;
$yellow: #E9AE60;
$translucent: #ffffff50;
$darkblue-100: #20293B;
$darkblue-200: #242E42;
$darkblue-300: #29334A;
$darkblue-400: #2D3952;
$darkblue-500: #313E59;
$darkblue-600: #354361;
$darkblue-700: #3A4969;
$darkblue-800: #3F5073;
$brightblue-100: #7C89A6;
$brightblue-200: #8F9EBF;
$brightblue-300: #A2B3D9;
// gradient state
$yellow-gradient: linear-gradient(90deg, #EEC868 0%, #E49358 100%);
$red-gradient: linear-gradient(90deg, #F17C7C 0%, #E35656 100%);
$purple-gradient: linear-gradient(90deg, #8070FF 0%, #503AF2 100%);
$green-gradient: linear-gradient(90deg, #59C59E 0%, #35BF7F 100%);
$coral-gradient: linear-gradient(180deg, #FB9293 0%, #ED729E 100%);
$pink-gradient: linear-gradient(90deg, #EA11AD 0%, #AC3AF2 100%);
$gradients-map: ( 'yellow': $yellow-gradient, 'pink': $pink-gradient, 'red': $red-gradient, 'purple': $purple-gradient, 'green': $green-gradient, 'coral':$coral-gradient);
@each $color,
$value in $gradients-map {
  .#{$color}-gradient {
    background-image: $value;
  }
}

.bg-translucent {
  background-color: #ffffff20!important;
}

.bg-translucent:hover {
  background-color: #ffffff30!important;
}

.bg-translucent:focus {
  background-color: #ffffff40!important;
}

// hover state
$purple-hover: #8070FF;
$coral-hover: #FB9293;
$green-hover: #59C59E;
$red-hover: #F17C7C;
$yellow-hover: #EEC868;
$hover-map: ( 'purple': $purple-hover, 'coral': $coral-hover, 'green': $green-hover, 'red': $red-hover, 'yellow': $yellow-hover);
@each $color,
$value in $hover-map {
  .#{$color}-hover {
    background-color: $value
  }
}

//active state
$purple-active: #503Af2;
$coral-active: #EE739E;
$green-active: #35BF7F;
$red-active: #E35656;
$yellow-active: #E49358;
$active-map: ( 'red': $red-active, 'yellow': $yellow-active, 'green': $green-active, 'purple': $purple-active, 'coral': $coral-active);
@each $color,
$value in $active-map {
  .#{$color}-active {
    background-color: $value
  }
}

$theme-colors: ("darkblue": $darkblue, "brightblue": $brightblue, "purple": $purple, "coral": $coral, "red": $red, "yellow": $yellow, "green": $green);
$blues: ("darkblue-100": $darkblue-100, "darkblue-200": $darkblue-200, "darkblue-300": $darkblue-300, "darkblue-400": $darkblue-400, "darkblue-500": $darkblue-500, "darkblue-600": $darkblue-600, "darkblue-700": $darkblue-700, "darkblue-800": $darkblue-800, "brightblue-100": $brightblue-100, "brightblue-200": $brightblue-200, "brightblue-300": $brightblue-100);
$theme-colors: map-merge($blues, $theme-colors);