.glyphicon {
  position: relative;
  bottom: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Individual icons
.glyphicon-asterisk {
  &:before {
    content: "\002a";
  }
}

.glyphicon-plus {
  &:before {
    content: "\002b";
  }
}

.glyphicon-chevron-right {
  &:before {
    content: "\003c";
  }
}


$hover-pallete: ('danger': $red-hover,
'info': $purple-hover,
'success': $green-hover,
'warning': $yellow-hover,
'primary': $darkblue-hover,
'secondary': $brightblue-hover,
'coral': $coral-hover);

@each $color,
$value in $hover-pallete {
  .btn-#{$color}:hover {
    background: $value;
  }
}

$active-pallete: ('danger': $red-active,
'info': $purple-active,
'success': $green-active,
'warning': $yellow-active,
'primary': $darkblue-100,
'secondary': $brightblue-100,
'coral': $coral-active);

@each $color,
$value in $active-pallete {

  .btn-#{$color}:focus,
  .btn-#{$color}:active {
    background: $value;
  }
}

// sizes
$btn-width: 152px;
$btn-large: 41px;

.btn-large {
  height: $btn-large;
  width: $btn-width;
  font-size: 16px;
}

.btn {
  border: none;
}

.btn.plus-icon {
  background-image: url("css/imgs/general/plus-icon.svg");
  background-repeat: no-repeat;
  background-position-x: 0.75em;
  background-position-y: 20%;
}