$translucent:                     #ffffff50;

// Darkblue
$darkblue-100:                    #45577D;
$darkblue-200:                    #3F5073;
$darkblue-300:                    #3A4969;
$darkblue-400:                    #354361;
$darkblue-500:                    #313E59;
$darkblue-600:                    #2D3952;
$darkblue-700:                    #29334A;
$darkblue-800:                    #242E42;
$darkblue-900:                    #20293B;

// Brightblue
$brightblue-100:                  #A2B3D9;
$brightblue-200:                  #8F9EBF;
$brightblue-300:                  #7C89A6;

// Purple 
$purple-100:                      #8070FF;
$purple-200:                      #5E49FD;
$purple-300:                      #503Af2;

// Coral 
$coral-100:                       #FB9293;
$coral-200:                       #F68797;
$coral-300:                       #EE739E;

// Red 
$red-100:                         #F17C7C;
$red-200:                         #EA6969;
$red-300:                         #E35656;

// Yellow
$yellow-100:                      #EEC868;
$yellow-200:                      #E9AE60;
$yellow-300:                      #E49358;

// Green
$green-100:                       #59C59E;
$green-200:                       #34BE7E;
$green-300:                       #35BF7F;

// Theme Colors 
$darkblue:                        $darkblue-100;
$brightblue:                      $brightblue-200;
$purple:                          $purple-200;
$coral:                           $coral-200;
$green:                           $green-200;
$red:                             $red-200;
$yellow:                          $yellow-200;


// Theme Gradients
$yellow-gradient:                 linear-gradient(90deg, $yellow-100 0%, $yellow-300 100%);
$red-gradient:                    linear-gradient(90deg, $red-100 0%, $red-300 100%);
$purple-gradient:                 linear-gradient(90deg, $purple-100 0%, $purple-300 100%);
$green-gradient:                  linear-gradient(90deg, $green-100 0%, $green-300 100%);
$coral-gradient:                  linear-gradient(180deg, $coral-100 0%, $coral-300 100%);

// Other gradients
$pink-gradient:                   linear-gradient(90deg, #EA11AD 0%, #AC3AF2 100%);

// Gradient map
$gradients-map: (
  'yellow':                       $yellow-gradient, 
  'pink':                         $pink-gradient, 
  'red':                          $red-gradient, 
  'purple':                       $purple-gradient, 
  'green':                        $green-gradient, 
  'coral':                        $coral-gradient
);

@each $color, $value in $gradients-map {
  .#{$color}-gradient {
    background-color: #{$color};
    background-image: $value;
    background-repeat: no-repeat;
  }
}

.bg-translucent {
  background-color: #ffffff20!important;
}

.bg-translucent:hover {
  background-color: #ffffff30!important;
}

.bg-translucent:focus {
  background-color: #ffffff40!important;
}

// hover state

$hover-theme: (
  'danger':                         $red-100, 
  'info':                           $purple-100, 
  'success':                        $green-100, 
  'warning':                        $yellow-100, 
  'primary':                        $darkblue-100, 
  'secondary':                      $brightblue-100, 
  'coral':                          $coral-100
  );

$hover-shades: (
  'darkblue-200':                   $darkblue-100, 
  'darkblue-300':                   $darkblue-200, 
  'darkblue-400':                   $darkblue-300, 
  'darkblue-500':                   $darkblue-400, 
  'darkblue-600':                   $darkblue-500, 
  'darkblue-700':                   $darkblue-600, 
  'darkblue-800':                   $darkblue-700, 
  'darkblue-900':                   $darkblue-800
  );

$hover-colors: ( 
  'purple':                         $purple-100, 
  'coral':                          $coral-100, 
  'green':                          $green-100, 
  'red':                            $red-100, 
  'yellow':                         $yellow-100
  );

$hover-palette: map-merge($hover-theme, $hover-colors);
$hover-palette: map-merge($hover-shades, $hover-palette);
@each $color,
$value in $hover-palette {
  .#{$color}-hover {
    background-color: $value
  }
}

//active state
$active-map: ( 
  'red':                            $red-300, 
  'yellow':                         $yellow-300, 
  'green':                          $green-300, 
  'purple':                         $purple-300, 
  'coral':                          $coral-300
  );
$active-pallete: (
  'danger':                         $red-300, 
  'info':                           $purple-300, 
  'success':                        $green-300, 
  'warning':                        $yellow-300, 
  'coral':                          $coral-300,
  'primary':                        $darkblue-100, 
  'secondary':                      $brightblue-100, 
);

@each $color, $value in $active-map {
  .#{$color}-active {
    background-color: $value
  }
}

$theme-colors: (
  "darkblue":                       $darkblue, 
  "brightblue":                     $brightblue, 
  "purple":                         $purple, 
  "coral":                          $coral, 
  "red":                            $red, 
  "yellow":                         $yellow, 
  "green":                          $green
  );

$blues: (
  "darkblue-100":                   $darkblue-100, 
  "darkblue-200":                   $darkblue-200, 
  "darkblue-300":                   $darkblue-300, 
  "darkblue-400":                   $darkblue-400, 
  "darkblue-500":                   $darkblue-500, 
  "darkblue-600":                   $darkblue-600, 
  "darkblue-700":                   $darkblue-700, 
  "darkblue-800":                   $darkblue-800, 
  "darkblue-900":                   $darkblue-900, 
  "brightblue-100":                 $brightblue-100, 
  "brightblue-200":                 $brightblue-200, 
  "brightblue-300":                 $brightblue-300
  );
$theme-colors: map-merge($blues, $theme-colors);
@each $color, $value in $theme-colors {
  .icon-#{$color} {
    --svg-color: #{$value!important};
  }
}