/* 
 * Company Font
 */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');

/*
 * Theme Colors (override)
 */

$primary:                       #20293B; 
$secondary:                     #7C89A6;
$success:                       #34BE7E;
$info:                          #5E49FD;
$warning:                       #E9AE60;
$danger:                        #EA6969;
$light:                         #DFE6EE;
$dark:                          #0f1319;
$white:                         #ffffff;

/*
 * Base variables (override)
 */

$font-weight-semibold:            600;
$line-height-base:                1.5;
$font-size-base:                  1rem;
$font-size-lg:                    ($font-size-base * 1.3125);
$font-family-sans-serif:          "Source Sans Pro", Helvetica, Arial, sans-serif;
$font-family-serif:               Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:           Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:                $font-family-sans-serif;
$text-muted:                      $secondary;

// Spacing 
$spacer: 1rem;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: (
    0: 0,
    1: ($spacer * .25),         // 4px
    2: ($spacer * .5),          // 8px
    3: $spacer,                 // 16px
    4: ($spacer * 1.5),         // 24px
    5: ($spacer * 2),           // 32px
    6: ($spacer * 3),           // 48px
    7: ($spacer * 4),           // 64px
    8: ($spacer * 6),           // 96px
    9: ($spacer * 8)            // 128px
  );


// Box Shadows
$btn-box-shadow-value:            0 4px 11px !default;

// Transitions
$transition-timing:               .3s !default;
$transition-timing-sm:            .2s !default;
$transition-timing-md:            .4s !default;
$transition-function:             cubic-bezier(0.175, 0.885, 0.32, 1.275) !default;

/*
 * Buttons (override) 
 */
$btn-transition:                  all $transition-timing-sm $transition-function !default;
$btn-box-shadow:                  none;
$btn-focus-width:                 0;
$btn-border-width:                0;
// $btn-padding-y-lg, 
// $btn-padding-x-lg, 
// $font-size-lg 
// $btn-line-height-lg
// $btn-border-radius-lg

/*
 * Inputs
 */

// general

$label-color:                     $darkblue-300;
$input-placeholder-color:         $secondary;
$input-bg:                        $darkblue-600;
$input-disabled-bg:               rgba($darkblue-600, 0.2);
// $input-box-shadow: none;
$input-border-radius:             0.25rem;
$input-border-color:              transparent;
$input-group-addon-border-color:  transparent;
$input-group-addon-bg:            $darkblue-600;
$input-color:                     $white;
$input-placeholder-color:         $secondary;
$input-focus-box-shadow:          0;
// focus state
$input-focus-bg:                  $darkblue-500;
$input-focus-border-color:        $secondary;
// large inputs
$input-line-height-lg:            1.3125;
$input-padding-y-lg:              .875rem;
$input-padding-x-lg:              .625rem;
$input-height-inner-lg:           ($font-size-base * $input-line-height-lg)+($input-padding-y-lg * 2);
//normal inputs
$input-line-height:               1.3125;
$input-padding-y:                 .75rem;
$input-padding-x:                 .625rem;
$input-height-inner:              ($font-size-base * $input-line-height)+($input-padding-y * 2);
// small inputs 
$input-padding-y-sm:              .625rem;
$input-padding-x-sm:              .625rem;
$input-line-height-sm:            1.3125;
$input-height-inner-sm:           ($font-size-base * $input-line-height-sm)+($input-padding-y-sm * 2);
// Width & Heights
$input-btn-min-width:                                       ($font-size-base * 9.6875) !default;
$input-btn-min-width-sm:                                    ($font-size-base * 8.4375) !default;


/*
 * Input type button
 */

$input-btn-padding-y:             .525rem !default;
$input-btn-padding-y-sm:          .45rem !default;
$input-btn-padding-y-lg:          0.925rem !default;
$btn-font-weight:                 $font-weight-semibold;

/*
 * Custom Inputs 
 */

// Custom control
$custom-control-indicator-checked-bg:             $white;
$custom-control-indicator-size:                   1.25rem;
$custom-control-indicator-bg-size:                cover;
$custom-control-indicator-bg:                     $brightblue-100;
$custom-control-indicator-checked-disabled-bg:  #7C89A620;
$custom-control-indicator-disabled-bg:          #7C89A620;
$custom-control-indicator-checked-box-shadow:     none;
$custom-control-indicator-focus-box-shadow:       none;
// Radio button 
$custom-radio-indicator-icon-checked:             url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M8.99813%2014C11.7585%2014%2013.9963%2011.7614%2013.9963%209C13.9963%206.23858%2011.7585%204%208.99813%204C6.23774%204%204%206.23858%204%209C4%2011.7614%206.23774%2014%208.99813%2014Z%22%20fill%3D%22%23F68797%22%2F%3E%0A%3C%2Fsvg%3E%0A");
$custom-radio-indicator-icon-default:             url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M8.99813%2014C11.7585%2014%2013.9963%2011.7614%2013.9963%209C13.9963%206.23858%2011.7585%204%208.99813%204C6.23774%204%204%206.23858%204%209C4%2011.7614%206.23774%2014%208.99813%2014Z%22%20fill%3D%22%23354361%22%2F%3E%0A%3C%2Fsvg%3E%0A");
// Checkbox
$custom-checkbox-indicator-icon-checked:          url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2218%22%20height%3D%2216%22%20viewBox%3D%220%200%2018%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M2.85777%209.09902L7.12342%2013.0201L15.6015%203.6437%22%20stroke%3D%22white%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E%0A");
$custom-checkbox-indicator-indeterminate-bg:      $green;
$custom-checkbox-indicator-bg:                    $darkblue-600;
$custom-checkbox-indicator-checked-bg:            $green;
$custom-checkbox-indicator-indeterminate-color:   $green;
$custom-checkbox-indicator-icon-indeterminate:    url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2214%22%20height%3D%223%22%20viewBox%3D%220%200%2014%203%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cline%20x1%3D%221.5%22%20y1%3D%221.5%22%20x2%3D%2212.5%22%20y2%3D%221.5%22%20stroke%3D%22white%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E%0A");
$custom-checkbox-indicator-size:                  30px;
$custom-checkbox-indicator-size-sm:               $custom-checkbox-indicator-size - 10;
$custom-checkbox-indicator-size-lg:               $custom-checkbox-indicator-size + 10;
// Toggle/switch (custom element)
$switch-checked-bg-color:                         $darkblue-600;
$switch-not-checked-bg-color:                     $darkblue-600;
$switch-button-checked-bg-color:                  $green;
$switch-button-default-bg-color:                  $brightblue-100;
$switch-button-not-checked-bg-color:              $red;

/*
 * Alerts (override) 
 */

$alert-bg-level: 0;
$alert-border-width: 0;


// Breadcrumbs
// =========================================================

$breadcrumb-divider:                                        url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%226%22%20height%3D%2210%22%20viewBox%3D%220%200%206%2010%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M1%209L5%204.91976L1.15732%200.999999%22%20stroke%3D%22white%22%20stroke-width%3D%221.25%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E%0A");
$breadcrumb-color:                                          $brightblue-100;
$breadcrumb-active-color:                                   $white;
$breadcrumb-bg:                                             transparent !default;
$breadcrumb-active-bg-color:                                $darkblue-700;
$breadcrumb-item-padding: 1.5em;
$breadcrumb-margin-bottom:                                  .5rem !default;

// Dropdowns
// =========================================================

$dropdown-link-hover-color:                                 $darkblue-300;
$dropdown-link-hover-color:                                 $white;
$dropdown-link-hover-bg:                                    $darkblue-500 !default;
$dropdown-divider-bg:                                       $darkblue-500;
$dropdown-link-active-bg:                                   $darkblue-500;
// Navbar
// =========================================================
$navbar-dark-bg:                                            $darkblue-900 !default;
$navbar-dark-hover-bg:                                      $darkblue-800 !default;


/*
 * Progress Bar (override)
 */

$custom-progress-height: 1;
$progress-bg: $darkblue-400;
$custom-progress-border-radius: 1rem; // custom
$progress-box-shadow: none;