body {
  padding-top: 4.5rem;
}

// Navbar
.navbar-nav {
  li {
    height: 70px;
    text-align: center;
    min-width: 90px;
  }
  li.active {
    border-bottom: 4px solid $red;
    background: lighten($primary, 10%)
  }
}

// card additions
.card-header {
  .options {
    position: absolute;
    right: 20px;
    .icon {
      height: 30px;
      width: 30px;
    }
  }
}

// Breadcrumbs 
.breadcrumb-item {
  &.active {
    background-color: $breadcrumb-active-bg-color;
    margin-left: 2em;
    padding: 0.25em 1.5em;
    border-radius: 1em;
    &::before {
      display: inline-block; // Suppress underlining of the separator in modern browsers
      padding-right: 0;
      content: '';
    }
  }
}

.acustom-color {
  fill: red;
}

.icon,
.form-icon,
.input-group-icon {
  --svg-color: #ffffff;
}

.icon {
  width: 1rem;
  height: 1rem;
}

.icon-md {
  width: 1.875rem;
  height: 1.875rem;
}

.icon-xl {
  height: 12.25rem;
  width: 12.25rem;
}