@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
// Changing the theme colors
$primary: #20293B;
$secondary: #7C89A6;
$success: #34BE7E;
$info: #5E49FD;
$warning: #E9AE60;
$danger: #EA6969;
$light: #dfe6ee;
$dark: #0f1319;
$white: #ffffff;
// alerts
$alert-bg-level: 0;
$alert-border-width: 0;
// fonts 
$font-family-sans-serif: "Source Sans Pro",
Helvetica,
Arial,
sans-serif;
$font-family-serif: Georgia,
"Times New Roman",
Times,
serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace: Menlo,
Monaco,
Consolas,
"Courier New",
monospace;
$font-family-base: $font-family-sans-serif;
// Breadcrumbs (ovveride bootstrap)
$breadcrumb-divider: url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%226%22%20height%3D%2210%22%20viewBox%3D%220%200%206%2010%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M1%209L5%204.91976L1.15732%200.999999%22%20stroke%3D%22white%22%20stroke-width%3D%221.25%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E%0A");
$breadcrumb-active-color: $white;
$breadcrumb-active-bg-color: $darkblue-300;
$breadcrumb-item-padding: 1.5em;
// Progress (ovveride bootstrap)
// $progress-height: 1rem;
$custom-progress-height: 1;
// $progress-font-size: $font-size-base * .75;
$progress-bg: $darkblue-400;
$custom-progress-border-radius: 1rem;
$progress-box-shadow: none;

/*Forms*/

$input-placeholder-color: $secondary;
$input-bg:$darkblue-400;
$input-border-radius: 4px;
$input-border-color:$darkblue-400;
$input-color: #FFFFFFFF;
$input-placeholder-color: $secondary;
$input-focus-box-shadow: 0;
// focus
$input-focus-bg: $darkblue-500;
$input-focus-border-color:$secondary;
// large
$input-line-height-lg: 21px;
$input-padding-y-lg :15px;
$input-padding-x-lg:11px;
$input-height-lg: 50px;
//normal
$input-line-height: 21px;
$input-padding-y :13px;
$input-padding-x:11px;
$input-height: 46px;
// small
$input-padding-y-sm:11px;
$input-padding-x-sm:11px;
$input-line-height-sm: 21px;
$input-height-sm: 42px;
// small
$text-muted: $secondary;
// buttons 
$btn-box-shadow: none;
$btn-focus-width: 0;
$btn-border-width: 0;
//radio button 
$custom-radio-indicator-icon-checked: url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M8.99814%2016C12.8638%2016%2015.9963%2012.8653%2015.9963%209C15.9963%205.13471%2012.8638%202%208.99814%202C5.13247%202%202%205.13471%202%209C2%2012.8653%205.13247%2016%208.99814%2016Z%22%20fill%3D%22%23F68797%22%2F%3E%0A%3C%2Fsvg%3E%0A");
$custom-radio-indicator-icon-default: url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M8.99814%2016C12.8638%2016%2015.9963%2012.8653%2015.9963%209C15.9963%205.13471%2012.8638%202%208.99814%202C5.13247%202%202%205.13471%202%209C2%2012.8653%205.13247%2016%208.99814%2016Z%22%20fill%3D%22%23354361%22%2F%3E%0A%3C%2Fsvg%3E%0A");
$custom-control-indicator-checked-bg: $white;
$custom-control-indicator-size: 1.2rem;
// $custom-select-padding-y: .475rem;
// $custom-select-padding-x: .85rem;
$custom-control-indicator-bg-size: 82% 82%;
$custom-control-indicator-bg: #7C89A6;
$custom-control-indicator-checked-box-shadow: none;
$custom-control-indicator-focus-box-shadow: none;
// $custom-control-indicator-checked-bg: #354361;
// Toggle/switch
$switch-active-bg-color: $darkblue-400;
$switch-default-bg-color: $darkblue-400;
$switch-button-active-bg-color: $green;
$switch-button-default-bg-color: $red;