/* 
 * Company Font
 */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/*
 * Theme Colors (override)
 */

$primary: #20293B;
$secondary: #7C89A6;
$success: #34BE7E;
$info: #5E49FD;
$warning: #E9AE60;
$danger: #EA6969;
$light: #dfe6ee;
$dark: #0f1319;
$white: #ffffff;

/*
 * Base variables (override)
 */

$line-height-base: 1.5;
$font-size-base: 1rem;
$font-family-sans-serif: "Source Sans Pro",
Helvetica,
Arial,
sans-serif;
$font-family-serif: Georgia,
"Times New Roman",
Times,
serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace: Menlo,
Monaco,
Consolas,
"Courier New",
monospace;
$font-family-base: $font-family-sans-serif;
$text-muted: $secondary;

/*
 * Buttons (override) 
 */

$btn-box-shadow: none;
$btn-focus-width: 0;
$btn-border-width: 0;
// $btn-padding-y-lg, 
// $btn-padding-x-lg, 
// $font-size-lg 
// $btn-line-height-lg
// $btn-border-radius-lg

/*
 * Inputs
 */

// general
$input-placeholder-color: $secondary;
$input-bg: $darkblue-400;
// $input-box-shadow: none;
$input-border-radius: 0.25rem;
$input-border-color: $darkblue-400;
$input-group-addon-border-color: $darkblue-400;
$input-group-addon-bg: $darkblue-400;
$input-color: #FFFFFFFF;
$input-placeholder-color: $secondary;
$input-focus-box-shadow: 0;
// focus state
$input-focus-bg: $darkblue-500;
$input-focus-border-color:$secondary;
// large inputs
$input-line-height-lg: 1.3125;
$input-padding-y-lg: .875rem;
$input-padding-x-lg: .625rem;
$input-height-inner-lg: ($font-size-base * $input-line-height-lg)+($input-padding-y-lg * 2);
//normal inputs
$input-line-height: 1.3125;
$input-padding-y: .75rem;
$input-padding-x: .625rem;
$input-height-inner: ($font-size-base * $input-line-height)+($input-padding-y * 2);
// small inputs 
$input-padding-y-sm: .625rem;
$input-padding-x-sm: .625rem;
$input-line-height-sm: 1.3125;
$input-height-inner-sm: ($font-size-base * $input-line-height-sm)+($input-padding-y-sm * 2);

/*
 * Custom Inputs 
 */

// Custom control
$custom-control-indicator-checked-bg: $white;
$custom-control-indicator-size: 1.2rem;
$custom-control-indicator-bg-size: cover;
$custom-control-indicator-bg: #7C89A6;
$custom-control-indicator-checked-disabled-bg:#7C89A620;
$custom-control-indicator-disabled-bg: #7C89A620;
$custom-control-indicator-checked-box-shadow: none;
$custom-control-indicator-focus-box-shadow: none;
// Radio button 
$custom-radio-indicator-icon-checked: url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M8.99813%2014C11.7585%2014%2013.9963%2011.7614%2013.9963%209C13.9963%206.23858%2011.7585%204%208.99813%204C6.23774%204%204%206.23858%204%209C4%2011.7614%206.23774%2014%208.99813%2014Z%22%20fill%3D%22%23F68797%22%2F%3E%0A%3C%2Fsvg%3E%0A");
$custom-radio-indicator-icon-default: url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M8.99813%2014C11.7585%2014%2013.9963%2011.7614%2013.9963%209C13.9963%206.23858%2011.7585%204%208.99813%204C6.23774%204%204%206.23858%204%209C4%2011.7614%206.23774%2014%208.99813%2014Z%22%20fill%3D%22%23354361%22%2F%3E%0A%3C%2Fsvg%3E%0A");
// Toggle/switch (custom element)
$switch-checked-bg-color: $darkblue-400;
$switch-not-checked-bg-color: $darkblue-400;
$switch-button-checked-bg-color: $green;
$switch-button-default-bg-color: $brightblue-100;
$switch-button-not-checked-bg-color: $red;

/*
 * Alerts (override) 
 */

$alert-bg-level: 0;
$alert-border-width: 0;

/*
  * Breadcrumbs (override) 
  */

$breadcrumb-divider: url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%226%22%20height%3D%2210%22%20viewBox%3D%220%200%206%2010%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M1%209L5%204.91976L1.15732%200.999999%22%20stroke%3D%22white%22%20stroke-width%3D%221.25%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E%0A");
$breadcrumb-active-color: $white;
$breadcrumb-active-bg-color: $darkblue-300;
$breadcrumb-item-padding: 1.5em;

/*
 * Progress Bar (override)
 */

$custom-progress-height: 1;
$progress-bg: $darkblue-400;
$custom-progress-border-radius: 1rem; // custom
$progress-box-shadow: none;