//
// Buttons
//

// Air Buttons
@mixin button-soft($sc-color, $sc-background, $sc-hover-background, $sc-box-shadow) {
    color: ($sc-color);
    background: rgba($sc-background, .1);
    border-color: transparent;
  
    &[href],
    &[type] {
      &:hover,
      &:focus,
      &:active,
      &.active {
        color: color-yiq($sc-hover-background);
        background: ($sc-hover-background);
        // box-shadow: $btn-box-shadow-value rgba($sc-background, 0.35);
      }
  
      &.disabled,
      &:disabled {
        color: $sc-background;
        background-color: rgba($sc-background, .1);
        box-shadow: none;
      }
    }
  }
  
  // Icon Buttons
  @mixin button-text($sc-color, $sc-hover-color) {
    color: ($sc-color);
    background: transparent;
  
    &[href],
    &[type] {
      &:hover,
      &:focus,
      &:active {
        color: ($sc-hover-color);
      }
    }
  }