%svg-common {
	background: url("svg/sprite.view.svg") no-repeat;
}

.svg-close-icon {
	@extend %svg-common;
	background-position: 71.42857142857143% 44.11764705882353%;
}

.svg-close-icon-dims {
	width: 14px;
	height: 14px;
}

.svg-ideation {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-ideation-dims {
	width: 30px;
	height: 22.42px;
}

.svg-open {
	@extend %svg-common;
	background-position: 69.76744186046511% 85.29411764705883%;
}

.svg-open-dims {
	width: 13px;
	height: 14px;
}

.svg-plus-icon {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-plus-icon-dims {
	width: 11px;
	height: 11px;
}

.svg-settings {
	@extend %svg-common;
	background-position: 73.17073170731707% 0;
}

.svg-settings-dims {
	width: 15px;
	height: 15px;
}

.svg-upload-icon {
	@extend %svg-common;
	background-position: 0 98.33333333333333%;
}

.svg-upload-icon-dims {
	width: 30px;
	height: 25.2px;
}

