@each $color,
$value in $hover-palette {
  .btn-#{$color}:not(:disabled):hover {
    background: $value;
  }
}

@each $color,
$value in $active-pallete {
  .btn-#{$color}:focus,
  .btn-#{$color}:active {
    background-color: $value!important;
  }
}

@each $color, $value in $theme-colors {
	/* #{$color} button :hover, :focus, :active effects */
  .btn-#{$color}, .btn-soft-#{$color} {
    &[href],
    &[type] {
      &:hover,
      &:focus,
      &:active {
        box-shadow: $btn-box-shadow-value rgba($value, 0.20);
      }
    }
  }
}

@each $color, $value in $gradients-map {
	/* #{$color} button :hover, :focus, :active effects */
  .btn.#{$color}-gradient {
    &[href],
    &[type] {
      &:hover,
      &:focus,
      &:active {
        box-shadow: $btn-box-shadow-value rgba(unquote(#{$color}), 0.20);
      }
    }
  }
}

.btn {
  border: none;
}

.btn {
  .icon {
    float: left;
    height: $btn-padding-y + $font-size-base;
    padding: 0 0.15rem;
  }
}

.btn-sm {
  .icon {
    float: left;
    height: $btn-padding-y-sm + $font-size-sm;
    padding: 0 0.2rem;
  }
}

.btn-lg {
  .icon {
    float: left;
    height: $btn-padding-y-lg + $font-size-lg - 0.3;
    padding: 0 0.1rem;
  }
}