.moment-button-container-xl {
  height: 12.25rem;
  width: 12.25rem;
  line-height: 12.25rem;
  border-radius: 0.3rem;
  .icon {
    height: 12.25rem;
    width: 12.25rem;
  }
}

.moment-button-container {
  height: 6.25rem;
  width: 6.25rem;
  line-height: 6.25rem;
  .icon {
    height: 6.25rem;
    width: 6.25rem;
  }
}

.moment-button-container-xs {
  height: 1.5625rem;
  width: 1.5625rem;
  line-height: 1.35rem;
  .icon {
    height: 1.5625rem;
    width: 1.5625rem;
  }
}