$hover-pallete: ('danger': $red-hover, 'info': $purple-hover, 'success': $green-hover, 'warning': $yellow-hover, 'primary': $darkblue-hover, 'secondary': $brightblue-hover, 'coral': $coral-hover);
@each $color,
$value in $hover-pallete {
  .btn-#{$color}:hover {
    background: $value;
  }
}

$active-pallete: ('danger': $red-active, 'info': $purple-active, 'success': $green-active, 'warning': $yellow-active, 'primary': $darkblue-100, 'secondary': $brightblue-100, 'coral': $coral-active);
@each $color,
$value in $active-pallete {
  .btn-#{$color}:focus,
  .btn-#{$color}:active {
    background-color: $value;
  }
}

.btn {
  border: none;
}

.btn {
  .icon {
    float: left;
    height: $btn-padding-y + 0.25 + $font-size-base;
    padding: 0 0.15rem;
  }
}

.btn-sm {
  .icon {
    float: left;
    height: $btn-padding-y-sm + 0.25 + $font-size-sm;
    padding: 0 0.2rem;
  }
}

.btn-lg {
  .icon {
    float: left;
    height: $btn-padding-y-lg + 0.25 + $font-size-lg;
    padding: 0 0.1rem;
  }
}