.form-group {
  label {
    line-height: $line-height-base;
    font-weight: $font-weight-semibold;
    font-size: $font-size-base;
    color: $label-color;
  }
  small {
    line-height: 0.9 * $line-height-base;
    font-weight: $font-weight-normal;
    font-size: 0.875rem;
  }
}

.custom-select.is-invalid+.form-text,
.form-control.is-invalid+.form-text,
.was-validated .custom-select:invalid+.form-text,
.was-validated .form-control:invalid+.form-text {
  color: $form-feedback-invalid-color!important;
}

.form-control,
.input-group>.form-control {
  font-size: $font-size-base;
  background-clip: initial;
}

.form-control:hover {
  background-color: $darkblue-500;
}

.custom-radio {
  .custom-control-label {
    cursor: pointer;
  }
  .custom-control-label::before {
    background-image: $custom-radio-indicator-icon-default;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .custom-control-input:disabled {
    &:checked~.custom-control-label::after {
      opacity: 0.2;
    }
  }
}


/* The switch - the box around the slider */

.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 28px;
  /* Hide default HTML checkbox */
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}


/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $switch-checked-bg-color;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: $switch-button-default-bg-color;
  -webkit-transition: .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

input:disabled+.slider:before,
input:disabled+.slider:after {
  opacity: 0.2;
}

input:checked+.slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

.right-wrong {
  input+.slider::before {
    background-color: $switch-button-not-checked-bg-color;
  }
  input:checked+.slider {
    background-color: $switch-checked-bg-color;
  }
  input:focus+.slider {
    box-shadow: 0 0 1px $switch-checked-bg-color;
  }
  input:checked+.slider:before {
    background-color: $switch-button-checked-bg-color;
  }
}


/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.custom-checkbox {
  cursor: pointer;
  min-height: $custom-checkbox-indicator-size + 4;
  .custom-control-input~.custom-control-label {
    padding-left: $custom-checkbox-indicator-size / 2;
    line-height: $custom-checkbox-indicator-size;
    &::before {
      width: $custom-checkbox-indicator-size;
      height: $custom-checkbox-indicator-size;
      background-color: $custom-checkbox-indicator-bg;
    }
    &::after {
      width: $custom-checkbox-indicator-size;
      height: $custom-checkbox-indicator-size;
    }
  }
  .custom-control-input:checked~.custom-control-label {
    &::before {
      background-color: $custom-checkbox-indicator-checked-bg;
    }
    &::after {
      background-image: $custom-checkbox-indicator-icon-checked;
      background-size: 60%;
    }
  }
  .custom-control-input:indeterminate~.custom-control-label {
    &::before {
      background-color: $custom-checkbox-indicator-checked-bg;
      box-shadow: none;
    }
    &::after {
      background-image: $custom-checkbox-indicator-icon-indeterminate;
      background-size: 60%;
    }
  }
  .custom-control-input:disabled~.custom-control-label {
    opacity: 0.2!important;
  }
  .custom-control-input:disabled {
    &:checked~.custom-control-label::before {
      background-color: $custom-checkbox-indicator-checked-bg;
    }
    &:indeterminate~.custom-control-label::before {
      background-color: $green;
    }
  }
}

.custom-checkbox-sm {
  min-height: $custom-checkbox-indicator-size-sm + 4;
  .custom-control-input~.custom-control-label {
    padding-left: $custom-checkbox-indicator-size-sm / 2;
    line-height: $custom-checkbox-indicator-size-sm;
    &::before {
      width: $custom-checkbox-indicator-size-sm;
      height: $custom-checkbox-indicator-size-sm;
    }
    &::after {
      width: $custom-checkbox-indicator-size-sm;
      height: $custom-checkbox-indicator-size-sm;
    }
  }
}

.custom-checkbox-lg {
  min-height: $custom-checkbox-indicator-size-lg + 4;
  .custom-control-input~.custom-control-label {
    padding-left: $custom-checkbox-indicator-size-lg;
    line-height: $custom-checkbox-indicator-size-lg;
    &::before {
      width: $custom-checkbox-indicator-size-lg;
      height: $custom-checkbox-indicator-size-lg;
    }
    &::after {
      width: $custom-checkbox-indicator-size-lg;
      height: $custom-checkbox-indicator-size-lg;
    }
  }
}


/* custom checkbox 2*/
.custom-checkbox-2 {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 34px;
  /* Hide default HTML checkbox */
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .check {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $darkblue-500;
    -webkit-transition: .2s;
    transition: .2s;
  }

  .check:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: $switch-button-default-bg-color;
    -webkit-transition: .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .check.round {
    border-radius: 34px;
  }
  
  .check.round:before {
    border-radius: 50%;
  }

  input:disabled+.check:before,
  input:disabled+.check:after {
    opacity: 0.2;
  }

  input+.check::before {
    background-color: transparent;
  }
  input:checked+.check {
    background-color: $darkblue-500;
  }
  input:focus+.check {
    box-shadow: 0 0 1px $darkblue-500;
  }
  input:checked+.check:before {
    background-color: $switch-button-checked-bg-color;
  }
}



