.small-progress {
  height: unquote( $custom-progress-height * .75 + 'rem');
  font-size: $progress-font-size * .75;
}

.medium-progress {
  height: unquote( $custom-progress-height * 2 + 'rem');
  font-size: $progress-font-size * 1.5;
}

.large-progress {
  height: unquote( $custom-progress-height * 3 + 'rem');
  font-size: $progress-font-size * 2;
}

.progress-rounded {
  @include border-radius( unquote($custom-progress-border-radius * 3 + '!important'));
  .progress-bar {
    @include border-radius( unquote($custom-progress-border-radius * 3 + '!important'));
  }
}